@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Space+Grotesk:wght@400;700&display=swap");
:root {
	--background-color: rgb(5, 10, 24);
	--border-color: rgba(255, 255, 255, 0.1);
}
* {
	box-sizing: border-box;
}
body {
	background-color: var(--background-color);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	overflow: hidden;
	max-width: 1440px;
	margin: auto;
}
h1,
h2,
h3,
a,
p,
span {
	font-family: "Space Grotesk", sans-serif;
	font-weight: 400;
	color: white;
	margin: 0px;
}
a {
	text-decoration: none;
	color: white;
	transition: color 200ms;
}
a:hover {
	color: rgb(157, 132, 255);
}
nav {
	display: flex;
	width: 100%;
	border-bottom: 1px solid var(--border-color);
}
.nav-section {
	padding: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	border-right: 1px solid var(--border-color);
}
.logo-section,
.link-section {
	flex-basis: calc(100.1% / 3);
}
.social-section,
contact-section {
	flex-grow: 1;
}
.logo-section {
	justify-content: flex-start;
	font-size: 2.5rem;
}
.link-section {
	gap: 6rem;
}
.social-section {
	font-size: 1.5rem;
	gap: 2rem;
}
.mobile-nav-icon {
	display: none;
}
main {
	flex-grow: 1;
	position: relative;
}

main > article {
	display: grid;
	height: 100%;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 2fr 1fr;
	position: absolute;
	top: 0px;
	left: 0px;
}
main > article[data-status="inactive"] {
	transform: translateX(-100%);
	transition: none;
}

main > article[data-status="active"] {
	transform: translateX(0%);
}

main > article[data-status="before"] {
	transform: translateX(-100%);
}

main > article[data-status="after"] {
	transform: translateX(100%);
}

main > article[data-status="becoming-active-from-before"] {
	transform: translateX(-100%);
	transition: none;
}

main > article[data-status="becoming-active-from-after"] {
	transform: translateX(100%);
	transition: none;
}

main > article > .article-section {
	height: 100%;
}
main > article > .article-description-section,
main > article > .article-nav-section {
	border-left: 1px solid var(--border-color);
}

main > article > .article-title-section,
main > article > .article-nav-section {
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
}
main > article > .article-image-section {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
main > article[data-index="0"] > .article-image-section {
	background: url("https://images.unsplash.com/photo-1565626424178-c699f6601afd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1035&q=80");
}
main > article[data-index="1"] > .article-image-section {
	background: url("https://images.unsplash.com/photo-1535905557558-afc4877a26fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80");
}
main > article[data-index="2"] > .article-image-section {
	background: url("https://images.unsplash.com/photo-1660580554695-d2ca5008f1f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=927&q=80");
}
main > article[data-index="3"] > .article-image-section {
	background: url("https://images.unsplash.com/photo-1660766877755-4cac24f6cf21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2232&q=80");
}

main > article > .article-nav-section {
	display: flex;
}
.article-nav-section > * {
	flex: 1;
}
.article-nav-section > *:first-child {
	border-right: 1px solid var(--border-color);
}
main > article > .article-nav-section > button:hover {
	background-color: rgba(255, 255, 255, 0.02);
}
main > article > .article-nav-section button {
	background: transparent;
	border: none;
	font-size: 5rem;
	color: white;
	cursor: pointer;
}
.article-description-section {
	display: flex;
	justify-content: end;
	align-items: flex-end;
}
.article-description-section > p {
	margin: 2rem;
	font-size: 1.25rem;
}
.article-title-section {
	font-size: 2.5rem;
	padding: 2rem;
}
.article-title-section > h2 {
	font-family: "Montserrat", sans-serif;
}

@media (max-width: 640px) {
	body {
		overflow: auto;
		overflow-x: hidden;
	}

	main {
		overflow: hidden;
	}
	nav {
		flex-direction: column;
		position: relative;
		/* min-height: 100vh; */
	}
	.link-section,
	.social-section,
	.contact-section {
		display: flex;
		z-index: 100;
		padding: 0;
		margin: 0;
	}
	.link-section {
		padding-bottom: 2rem;
	}
    .social-section{
        padding-bottom: 2rem;
    }
    .contact-section{
        padding-bottom: 35rem;
    }
	nav[data-isopen="false"] > .link-section,
	nav[data-isopen="false"] > .social-section,
	nav[data-isopen="false"] > .contact-section {
		display: none;
	}
	.mobile-nav-icon {
		position: fixed;
		top: 2rem;
		right: 2rem;
		display: block;
		background-color: transparent;
		border: none;
		color: white;
		display: flex;
		gap: 0.5rem;
		justify-content: center;
		align-items: center;
	}
	main > article {
		width: 100%;
		grid-template-columns: 1fr;
	}
	.article-section {
		flex-direction: column;
	}
	.article-image-section {
		grid-row: 1 / 2;
	}
	.article-title-section {
		grid-row: 2 / 3;
	}

	.article-title-section {
		font-size: 1.5rem;
		padding: 1rem;
	}
	.article-nav-section {
		display: flex;
		flex-direction: row;
		padding: 2rem;
	}

	main > article > .article-nav-section button {
		font-size: 2rem;
	}
}
